.location-card {
  position: relative;
  width: 48%;
  height: 400px;
  overflow: hidden;
  border: 5px solid white;
  margin: 1%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(0.5px);
  z-index: 1;
}

.overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  background: rgba(0, 0, 0, 0.3);
}

.location-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.divider {
  width: 100px;
  height: 3px;
  background: white;
  border: none;
  margin: 10px 0;
}

.location-btn {
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  margin-top: 200px;
  height: fit-content;
  width: fit-content;
  transition: background 0.3s;
}

.location-btn:hover {
  background: white;
  color: black;
}

.location-btn.small {
  font-size: 0.8rem;
  padding: 8px 16px;
}

@media (max-width: 768px) {
  .location-card {
    position: relative;
    height: 400px;
    width: auto;
    overflow: hidden;
    border: 5px solid white;
    margin: 1%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}
